* {
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  height: calc(100vh-60px);
}

.slideList {
  width: 20%;
  height: 100%; 
  background-color: #8d8181; 
  border-right: 1px solid #ddd; 
  overflow-y: auto; 
}

.workspace {
  flex-grow: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}